@import '../_variables'

/*  Responsive fallback if the browser dont
*   support vh,vw,vmin or vmax measures
*/

@media (max-width: $screen-xs)
  .section
    height: $height-res


@media (min-width: $screen-xs + 1px) and (max-width: $screen-sm)
  .section
    height: $height-res * 2


@media (min-width: $screen-sm + 1px) and (max-width: $screen-md)
  .section
    height: $height-res * 3


@media (min-width: $screen-md + 1px)
  .section
    height: $height-res * 4
