@import '../_variables'
@import '../_mixins'
@import './bootstrap.styl'

body
  color: white !important

.center
  text-align: center !important
  float: none !important
  margin: 0 auto !important
  display: inline-block !important

#main-container
  padding-top: 56px

#about
  background: url('static/foto.jpg') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
