@import '../_variables'
@import '../_mixins'
@import './nav'
@import './responsive'

body
  color: white
  font-family: 'Raleway', sans-serif


.center
  text-align: center
  float: none
  margin: 0 auto
  display: inline-block

#main-container
  padding-top: 56px

#about
  background: url('static/foto.jpg') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
