@import '../_variables'

/* Bootstrap media queries logic */

@media (max-width: $screen-xs) {

}

@media (min-width: $screen-xs + 1px) and (max-width: $screen-sm) {


}

@media (min-width: $screen-sm + 1px) and (max-width: $screen-md) {

}

@media (min-width: $screen-md + 1px) {

}
