@import '../_variables'

/*  Responsive fallback if the browser dont
*   support vh,vw,vmin or vmax measures
*/

/* Bootstrap media queries logic */

@media (max-width: $screen-xs)
  body
    font-size: 14px
  #name
    font-size: 30px

@media (min-width: $screen-xs + 1px) and (max-width: $screen-sm)
  body
    font-size: 16px
  #name
    font-size: 40px


@media (min-width: $screen-sm + 1px) and (max-width: $screen-md)
  body
    font-size: 18px
  nav
    font-size: 16px
    a
      height: 56px
  #name
    font-size: 57px


@media (min-width: $screen-md + 1px)
  body
    font-size: 20px
  nav
    font-size: 16px
    a
      height: 56px
  #name
    font-size: 57px
