/* Navigation */
$navbar-background = #070707
$navbar-border = #515151
$navbar-text = #8c8c8c
$navbar-text-hover = #e5e5e5
$navbar-text-active = #fff
$navbar-active = #D5D5D5
$navbar-brand-hover = #5E5E5E
$navbar-toggle = #DDD
$navbar-toggle-icon = #CCC


/* Media query maximum values */
$screen-xs = 767px
$screen-sm = 991px
$screen-md = 1199px
