// Vendor stuff
@import url('//fonts.googleapis.com/css?family=Lato')
@import url('//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')


// Custom font
@font-face
  font-family: 'story_bookregular';
  src: url('static/fonts/story-book-webfont.eot');
  src: url('static/fonts/story-book-webfont.eot?#iefix') format('embedded-opentype'),
       url('static/fonts/story-book-webfont.woff2') format('woff2'),
       url('static/fonts/story-book-webfont.woff') format('woff'),
       url('static/fonts/story-book-webfont.ttf') format('truetype'),
       url('static/fonts/story-book-webfont.svg#story_bookregular') format('svg');
  font-weight: normal;
  font-style: normal;



// App stuff
@import '_variables'
@import '_mixins'
@import 'app/main'
