body
  nav.navbar.navbar-default.navbar-fixed-top
    div.container(style="text-align: center")
      ul.nav.navbar-nav
        li#about-nav.active
          a.smoothScroll(href='#about', title='About')
            i.fa.fa-user 
              span.lob About
        li#resume-nav
          a.smoothScroll(href='#resume', title='Resume')
            i.fa.fa-file-text 
              span.lob Resume
        li#skills-nav
          a.smoothScroll(href='#skills', title='Skills')
            i.fa.fa-star 
              span.lob Skills
        li#contacts-nav
          a.smoothScroll(href='#contacts', title='Contacts')
            i.fa.fa-envelope 
              span.lob Contacts
  div#main-container.container-fluid
    div.row
      section#about.col-md-12.section(name='about')
    div.row
      section#resume.col-md-12.section(name='resume')
    div.row
      section#skills.col-md-12.section(name='skills')
    div.row
      section#contacts.col-md-12.section(name='contacts')
