body
  nav.navbar.navbar-default.navbar-fixed-top
    div.container(style="text-align: center")
      ul.nav.navbar-nav.center
        li
          a.smoothScroll(href='#about', title='About')
            i.fa.fa-user 
              span About
        li
          a.smoothScroll(href='#resume', title='Resume')
            i.fa.fa-file-text 
              span Resume
        li
          a.smoothScroll(href='#skills', title='Skills')
            i.fa.fa-star 
              span Skills
        li
          a.smoothScroll(href='#contacts', title='Contacts')
            i.fa.fa-envelope 
              span Contacts
  div#main-container.container-fluid
    div.row
      section#about.col-md-12(name='about')
      section#resume.col-md-12(name='resume')
      section#skills.col-md-12(name='skills')
      section#contacts.col-md-12(name='contacts')
