body
  nav.navbar.navbar-default.navbar-fixed-top
    div.container(style="text-align: center")
      ul.nav.navbar-nav.center
        li
          a.smoothScroll(href='#about', title='About')
            i.fa.fa-user 
              span About
        li
          a.smoothScroll(href='#resume', title='Resume')
            i.fa.fa-file-text 
              span Resume
        li
          a.smoothScroll(href='#skills', title='Skills')
            i.fa.fa-star 
              span Skills
        li
          a.smoothScroll(href='#contacts', title='Contacts')
            i.fa.fa-envelope 
              span Contacts
  section#about(name='about')
  section#resume(name='resume')
  section#skills(name='skills')
  section#contacts(name='contacts')
