div.container    
  div#intro-text.row
    div.col-sm-7.col-sm-offset-1
      p
        span.shade
          | Welcome to my personal website.
                  
  div#about-text.row.hidez
    div.col-sm-7.col-sm-offset-1
      h1.shade Ricardo Filipe Barros
      p
        span.shade
          | I'm a 22-year-old guy with 5 years of experience as a developer, an open source aficionado and currently rocking the IoT world at  
          | <a target='_blank' href='http://muzzley.com'>muzzley</a> with node.js. 
          
  div#social-media-text.row.hidez
    div.col-sm-7.col-sm-offset-1
      span.shade
        | You can also stalk me on social media.
  div#social-icons.row.hidez
    div.col-sm-7.col-sm-offset-1
      span.shade
        | You can also stalk me on social media.
  
