div.container    
  div#intro-text.row
    div.col-sm-7.col-sm-offset-1
      p
        span.shade
          | Welcome to my personal web page.
                  
  div#about-text.row.hidez
    div.col-sm-7.col-sm-offset-1
      h1#name.shade Ricardo Filipe Barros
      p
        span.shade
          | I'm a 22-year-old guy with 5 years of experience as a developer, an open source aficionado and currently rocking the IoT world at  
          | <a target='_blank' href='http://muzzley.com'>muzzley</a> with node.js. 
          
  div#social-media-text.row.hidez
    div.col-sm-7.col-sm-offset-1
      span.shade
        | You can also stalk me on social media.
  div#social-media-icons.row.hidez
    div.col-sm-7.col-sm-offset-1
      a.social-icon(href='https://github.com/ricardofbarros')
        i.fa.fa-github-alt
      a.social-icon(href='https://www.facebook.com/ricardofilipe23')
        i.fa.fa-facebook
      a.social-icon(href='https://pt.linkedin.com/in/ricardofbarros')
        i.fa.fa-linkedin
      a.social-icon(href='https://twitter.com/ricardofbarros')
        i.fa.fa-twitter
